/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	  /* font-family: 'Raleway', sans-serif; */
	font-size: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18c9d2+0,18699b+32,09415c+45,09415c+45,08364e+70,08364e+71,07304e+74,07304e+88,07304e+88,062b46+100,153854+100,153854+100,062b46+100 */
background: #18c9d2; /* Old browsers */
background: -moz-linear-gradient(top,  #18c9d2 0%, #18699b 32%, #09415c 45%, #09415c 45%, #08364e 70%, #08364e 71%, #07304e 74%, #07304e 88%, #07304e 88%, #062b46 100%, #153854 100%, #153854 100%, #062b46 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18c9d2), color-stop(32%,#18699b), color-stop(45%,#09415c), color-stop(45%,#09415c), color-stop(70%,#08364e), color-stop(71%,#08364e), color-stop(74%,#07304e), color-stop(88%,#07304e), color-stop(88%,#07304e), color-stop(100%,#062b46), color-stop(100%,#153854), color-stop(100%,#153854), color-stop(100%,#062b46)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #18c9d2 0%,#18699b 32%,#09415c 45%,#09415c 45%,#08364e 70%,#08364e 71%,#07304e 74%,#07304e 88%,#07304e 88%,#062b46 100%,#153854 100%,#153854 100%,#062b46 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #18c9d2 0%,#18699b 32%,#09415c 45%,#09415c 45%,#08364e 70%,#08364e 71%,#07304e 74%,#07304e 88%,#07304e 88%,#062b46 100%,#153854 100%,#153854 100%,#062b46 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #18c9d2 0%,#18699b 32%,#09415c 45%,#09415c 45%,#08364e 70%,#08364e 71%,#07304e 74%,#07304e 88%,#07304e 88%,#062b46 100%,#153854 100%,#153854 100%,#062b46 100%); /* IE10+ */
background: linear-gradient(to bottom,  #18c9d2 0%,#18699b 32%,#09415c 45%,#09415c 45%,#08364e 70%,#08364e 71%,#07304e 74%,#07304e 88%,#07304e 88%,#062b46 100%,#153854 100%,#153854 100%,#062b46 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18c9d2', endColorstr='#062b46',GradientType=0 ); /* IE6-9 */


}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
 margin:0;
 font-family: 'Poiret One', cursive;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--start-header--*/
.header-top {
   padding: 1.5em 0em 1.5em 0;
  background-color: #38d9e1;
}
.header-top i {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
    margin: 0 0.5em;
}
p.location i{
margin-left:0;
}
p.location, p.phone {
  float: left;
  color: #fff;
  font-size: 0.85em;
  padding:0;
  vertical-align: top;
 }
p.phone {
  float: right;
  width: 16%;
}
.main {
  margin-bottom:4em;
}
.wht-head {
  background-color: #fff;
  padding: 0.7em 1em;
}
.logo {
  float: left;
}
.logo  a h1{
 font-size: 1.2em;
 font-weight:200;
 color: #18C9D2;
 font-family: 'Poiret One', cursive;
}
.logo  a h1:hover{
 text-decoration:none;
}
.logo a h1 span {
  color:#b42b36;
}
.logo  a h1 i{
color:#000;
}
/*--slider--*/
.top-menu {
  float: right;
  margin-top: 0.8em;
}
.top-menu ul{
	padding:0;
}
.top-menu ul li{
 display: inline-block;
  color: #fff;
  font-weight: 900;
  vertical-align: top;
  border-right: 2px dotted #18C9D2;
}
/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16 a::before {
	color:#18C9D2;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.top-menu ul li a{
  text-decoration: none;
  color: #555;
 font-size: 0.85em;
  font-weight:400;
  padding:0 1em;
  background:none;
  margin: 0 auto;
}
.top-menu ul li a:hover,.top-menu ul li a.active{
	color:#18C9D2;
}
.top-menu ul li:nth-child(6){
 border:none;
}
/*--nav-responsive--*/
@media screen and (max-width:800px) {
    span.menu {
	  width: 35px;
	  height: 35px;
	  background: url('../images/nav.png') no-repeat;
	  display: inline-block;
	  cursor: pointer;
	  float: right;
	  margin-top: 0.5em;
	}
	.header-bottom {
  		padding: 1em 0;
	}
	.top-menu {
  	  width: 100%;
	  display: none;
	  text-align: center;
	  background: #206467;
	  padding: 0;
	  margin-top: 4px;
	}
	.top-menu ul{
		float:none;
		width:100%;
	}
	.top-menu ul li{
		display:block;
		float: none;
		border:none;
	}
	.top-menu ul li a {
  		  color: #fff;
		  display: block;
		  padding: 10px 0px;
		  margin: 0px 0;
	}
}
/*--start-banner--*/
.banner {
  background: url(../images/banner.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 505px;
}
.banner-info {
   width: 45%;
   margin: 13% auto 0;
     text-align: center;
}
.banner-pic {
  margin-top: 3em;
  float: right;
  padding: 0;
}
.banner-info h3 {
  font-size: 2.8em;
  font-weight: 400;
  color:#38d9e1;
  line-height: 1.4em;
}
.banner-info p {
    font-size: 0.85em;
  font-weight: 400;
  color: #fff;
  margin: 0.5em 0 0;
  line-height: 1.8em;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.errors {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 56%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 80px;
  width: 40px;
  background: transparent url("../images/arrows.png") no-repeat left top;
    margin-top: -11%;
  display:block;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
     right: 9px;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	  left:0px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
  list-style: none;
  position: absolute;
  bottom: -17%;
  left: 45%;
  padding: 0;
  margin: 0;
  display: block
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .3em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 13px;
  width: 13px;
  display: inline-block;
  background: #fff;
  border:3px solid #fff;
  border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
}
.callbacks_here a:after{
  background:#18C9D2;
  border:3px solid #fff;
}
.inner-slider {
  text-align: left;
}
/*--services--*/
.service-grid {
  padding: 0;
  width:24%;
  margin-right:1%;
  text-align:center;
}
#service {
   padding: 5em 0;
  background:#fff;
}
.serve-grids {
  padding: 3em 0 1em 0;
}
.service-grid {
background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
    border-right: 1px dotted #18C9D2;
}
.icon i{
 color:#fff;
  font-size: 1.3em;
  margin-top: 1.2em;
} 
.icon {
  width:80px;
  height:80px;
   border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  margin: 0 auto;
  text-align: center;
  position: relative;	
  background:#38d9e1;
  border: double #18C9D2;
}
.service-grid:hover .icon {
   transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
    background: #333;
   border: double #000;
}
.service-grid h5{
  color: #18C9D2;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0.5em 0 0 0;
}
.service-grid p{
  color: #555;
  font-size: 0.85em;
  margin: 0 auto;
  line-height: 1.8em;
  font-weight: 400;
  text-align: center;
  width:96%;
}
.serve-grids-top:nth-child(2) {
   margin-top: 2em;
}
.service-grid:nth-child(4){
 border:none;
   margin-right:0%;
}
/*--about--*/
.ab-img img {
   width: 98%;
}
.ab-top {
  margin-top: 2em;
}
#about {
  background-color: #fff;
  padding: 5em 0;
}
h3.tittle.two {
  color: #333;
}
h3.sub-text {
  color: #18C9D2;
  font-size: 2.3em;
  margin-bottom: 0.3em;
}
p.para {
  margin-top: 0.5em;
}
.ab-left {
  padding: 0 2em;
}
.ab-left p {
  color: #555;
  font-size: 0.85em;
  line-height: 1.9em;
  font-weight: 400;
}
/*--teachers--*/
#teach{
   padding:6em 0;
   background: #18c9d2;
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	  background: #038990;
	pointer-events: none;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../images/t1.jpg);
}

.ch-img-2 { 
	background-image: url(../images/t2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/t3.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding:60px 0 0 0;
	height: 93px;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}
/*--gallery--*/
#gallery {
   padding: 5em 0;
   background: #18c9d2;
  }
  .gallery-bottom {
  margin-top: 1.5em;
}
  h3.tittle{
   font-size: 3em;
  color:#fff;
  text-align:center;
  }
.view {
     width: 320px;
  height: 200px;
  margin: 20px 26px;
  float: left;
  border: 10px solid #099DA5;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
     width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 8px 9px;
  text-align: center;
}
.view a.info {
    display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #333;
  -moz-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #333;
  font-size: 0.8em;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
     background-color: rgba(14, 165, 173, 0.89);
   -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth h2 {
   background: rgba(255, 255, 255, 0.5);
   color: #fff;
   -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
   box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #fff;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   -webkit-transform: translateX(300px);
   -moz-transform: translateX(300px);
   -o-transform: translateX(300px);
   -ms-transform: translateX(300px);
   transform: translateX(300px);
}
.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
/*--contact-us--*/
.contact {
   padding: 5em 0;
  background:#fff;
}
.contact-main p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.7em;
  margin: 1em auto;
  width: 85%;
  text-align:center;
}
.contact-top-one h4 {
  font-size: 1.8em;
  color: #18C9D2;
  font-weight: 400;
  margin: 0;
  text-align: left;
}
.contact-top-one p{
  color: #555;
 font-size: 0.85em;
  font-weight: 400;
  line-height: 1.6em;
  margin: 1em 0;
  text-align: left;
}
.contact-top-one span {
	display: block;
}
.contact-top-one p,.contact-top-one p a {
   color: #555;
 font-size: 0.85em;
  margin: 1em 0px;
  line-height: 1.8em;
  text-align:left;
  font-weight: 400;
}
.contact-top-one p a {
 font-size:1em;
}
.contact-top-one p a:hover {
	color:#18c9d2;
	text-decoration: none;
}
.contact-top-right form input[type="text"] {  width: 49%;
  color: #555;
  outline: none;
  font-size: 0.9em;
  padding: 13px 13px;
  margin-bottom: 1em;
  border: solid 1px #555;
  -webkit-appearance: none;
  float: left;
  margin-right: 1%;
}
.contact-top-right form textarea {
	resize: none;
	width:99%;
	color: #555;
	font-size:0.9em;
	outline: none;
	padding: 10px 10px;
	border: solid 1px #555;
	min-height: 12em;
	-webkit-appearance: none;
}
.sub-button input[type="submit"] {
   border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.7em 3em;
  display: inline-block;
  background: #18C9D2;
  margin-top: 1em;
  -webkit-appearance: none;
  float: left;
}
.sub-button input[type="submit"]:hover {
	background:#159BA1;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.contact-top {
	margin-top: 3em;
}
.contact-bottom {
     padding: 4em 0;
}
.contact-top-left {
	  float: left;
	    width: 30%;
		  padding-left: 1.4em;
}
.contact-top-right {
	  float: right;
	  width: 69%;
}
.copy {
  text-align:center;
  padding:1.5em 1em;
    background: #18c9d2;
  }
.copy p {
  color: #fff;
  font-size: 0.85em;
}
.copy p a:hover{
	 text-decoration: underline;
}
/*--top-move--*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--responsive--*/
@media (max-width:1440px){
}
@media (max-width:1280px){
	.banner {
	  background: url(../images/banner.jpg) no-repeat center top;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 484px;
	}
}
@media (max-width:1024px){
	.banner-info {
	  width: 57%;
	  margin: 13% auto 0;
	  text-align: center;
	}
	.banner {
	  background: url(../images/banner.jpg) no-repeat center top;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 423px;
	}
	.view {
	  width: 283px;
	  height: 200px;
	  margin:15px 15px;
	}
	.view .mask, .view .content {
    width: 283px;
	  height: 200px;
  }
  .view p {
	  font-size: 12px;
	  padding: 10px 4px 9px;
	  width: 92%;
	}
	p.phone {
	  float: right;
	  width: 19%;
	}
}
@media (max-width:800px){
	.banner-info {
	  width: 75%;
	  margin: 13% auto 0;
	  text-align: center;
	}
	p.phone {
	  float: right;
	  width: 24%;
	}
	.banner {
	  background: url(../images/banner.jpg) no-repeat center top;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 363px;
	}
	.service-grid {
	  padding: 0;
	  width: 49%;
	  margin-right: 1%;
	  text-align: center;
	  float: left;
	  margin-bottom: 6%;
	}
	.service-grid:nth-child(2){
	margin-right:0;
	border:none;
	}
	#service {
     padding: 5em 0 2em 0;
  }
  .ch-grid li {
	  width: 180px;
	  height: 180px;
	  display: inline-block;
	  margin: 20px 10px;
	}
	.ch-info-wrap, .ch-info {
	  width: 146px;
	  height: 146px;
	}
	.contact-top-one h4 {
      font-size: 1.6em;
    }
	.ab-img {
	  width: 66%;
	  margin-top: 1em;
	}
	.ab-left {
	  padding: 0 1em;
	}
	.view {
	  width: 300px;
	  height: 200px;
	  margin: 15px 15px;
	}
	.view .mask, .view .content {
	  width: 300px;
	  height: 200px;
	}
	.gallery-bottom {
	  margin-top: 1.5em;
	  margin: 3% auto 0;
	  width: 92%;
	}
	#gallery {
     padding: 4em 0;
   }
   #about {
	  padding: 4em 0;
	}
	.contact {
      padding: 4em 0;
  }
  #teach {
  padding: 4em 0;
  }
  #service {
	  padding: 4em 0 1em 0;
  }
  .ch-info-wrap {
	  top: 18px;
	  left: 18px;
  }
  .ch-info h3 {
	  font-size: 16px;
	  margin: 0 15px;
	  padding: 42px 0 0 0;
	  height: 71px;
	}
	h3.sub-text {
     font-size: 2.1em;
   }
   h3.tittle {
     font-size: 2.8em;
  }
  .ch-info p {
	  padding: 10px 5px 0;
	  margin: 0 9px;
	  font-size: 12px;
	}
}
@media (max-width:768px){
	.ab-top {
	  margin-top: 1em;
	}
	.contact-top-left {
	  padding-left: 1em;
	}
}
@media (max-width:640px){
	.banner-info {
	   width: 92%;
	  margin: 10% auto 0;
	}
	.banner-info h3 {
     font-size: 2.5em;
    }
	.banner {
	  background: url(../images/banner.jpg) no-repeat center top;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 284px;
	}
	.callbacks_tabs {
	  bottom: -17%;
	  left: 41%;
	}
	p.phone {
	  float: right;
	  width: 29%;
	}
	.header-top {
	  padding: 1em 0em 1em 0;
	}
	.view {
	  width:280px;
	  height: 200px;
	  margin: 2px;
	  padding: 0;
	}
	.view .mask, .view .content {
	  width: 280px;
	  height: 200px;
	}
	.gallery-bottom {
	  margin-top: 1.5em;
	  margin: 3% auto 0 0.8em;
	  width: 100%;
	}
}
@media (max-width:480px){
	p.phone {
	  float: right;
	  width: 39%;
	}
	.banner-info p {
      font-size: 0.83em;
    }
	.banner-info {
	  width: 98%;
	  margin: 10% auto 0;
	}
	.banner-info h3 {
	  font-size: 2.2em;
	}
	.banner {
	  background: url(../images/banner.jpg) no-repeat center top;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 239px;
	}
	.service-grid p {
	  font-size: 0.83em;
	  width: 96%;
	}
	.service-grid h5 {
      font-size: 1.7em;
    }
	#service {
	  padding: 3em 0 1em 0;
	}
	h3.tittle {
	  font-size: 2.4em;
	}
	h3.sub-text {
	  font-size: 1.8em;
	}
	.ab-left p {
	  font-size: 0.83em;
	  }
	  .ab-img {
	  width: 100%;
	  margin-top: 1em;
	}
	#teach {
	  padding: 3em 0;
	}
	.ch-grid li {
	  width: 210px;
	  height: 210px;
	  display: inline-block;
	  margin: 20px 10px;
	}
	.ch-info-wrap, .ch-info {
	  width:180px;
	  height:180px;
	}
	.ch-info-wrap {
	  top: 15px;
	  left: 15px;
	}
	#about {
	  padding: 3em 0;
	}
	.view {
	  width: 300px;
	  height: 200px;
	  margin: 2px;
	  padding: 0;
	}
	.gallery-bottom {
	  margin-top: 1.5em;
	  margin: 6% 15%;
	  width: 69%;
	}
	#gallery {
	  padding: 3em 0 2em 0;
	}
	.contact-top-left {
	  float: left;
	  width: 100%;
	  margin-top:1.5em;
	}
	.contact-top-right {
	  float: right;
	  width: 100%;
	}
	.contact {
	  padding: 3em 0;
	}
	.view .mask, .view .content {
	  width:300px;
	  height: 200px;
	}
	.contact-top {
	  margin-top: 1.5em;
	}
}
@media (max-width:320px){
	.service-grid {
	  padding: 0;
	  width: 100%;
	  margin-right: 0;
	  text-align: center;
	  float: left;
	  margin-bottom: 5%;
	}
	.gallery-bottom {
	  margin-top: 1.5em;
	  margin: 6% 4%;
	  width: 100%;
	}
	.view {
	  width: 246px;
	  height: 200px;
	  margin: 2px;
	  padding: 0;
	}
	.view .mask, .view .content {
	  width:246px;
	  height: 200px;
	}
	.logo a h1 {
	  font-size: 2.2em;
	}
	span.menu {
	  width: 35px;
	  height: 35px;
	  background: url('../images/nav.png') no-repeat;
	  display: inline-block;
	  cursor: pointer;
	  float: right;
	  margin-top: 0.1em;
	}
	p.location, p.phone {
	  font-size: 0.75em;
	  padding: 0;
	  vertical-align: top;
	}
	.banner-info h3 {
	  font-size: 2em;
	}
	.banner-info lable {
	  display: none;
	}
	.banner {
	  background: url(../images/banner.jpg) no-repeat center top;
	  background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  -ms-background-size: cover;
	  min-height: 174px;
	}
	.banner-info {
	  width: 100%;
	  margin: 5% auto 0;
	}
	.callbacks_tabs {
	  bottom: -17%;
	  left: 32%;
	}
	.serve-grids {
	  padding: 1.5em 0 0em 0;
	}
	#service {
	  padding: 2em 0 1em 0;
	}
	.header-top i {
	  font-size: 1em;
	  margin: 0 0.3em;
	}
	p.phone {
	  float: right;
	  width: 55%;
	}
	.header-top {
	  padding: 0.8em 0em 0.8em 0;
	}
	#teach {
	  padding: 2em 0 1em 0;
	}
	#about {
	  padding: 2em 0;
	}
	.contact-top-right form input[type="text"] {
	  width: 100%;
	  font-size: 0.9em;
	  padding: 10px 11px;
	  margin-bottom: 0.5em;
	  margin-right: 0;
	}
	.contact-top-right form textarea {
	  width: 100%;
	  font-size: 0.9em;
	  padding: 10px 10px;
	  min-height: 8em;
	  -webkit-appearance: none;
	}
	.sub-button input[type="submit"] {
	  font-size: 1em;
	  padding: 0.6em 2em;
	  margin-top: 0.7em;
	  -webkit-appearance: none;
	  float: left;
	}
	.contact {
	  padding: 2em 0 1.5em;
	}
	.copy p {
	  font-size: 0.8em;
	  line-height: 1.7em;
	}
	h3.sub-text {
	  font-size: 1.5em;
	  line-height: 1.4em;
	}
	#gallery {
	  padding: 2em 0 1em 0;
	}
	.view a.info {
	  padding: 5px 14px;
	  font-size: 0.7em;
	}
	.contact-top-one p, .contact-top-one p a {
  font-size: 0.83em;
  }
  .contact-top-one p a {
   font-size: 0.95em;
     margin: 0.3em 0;
  }
  .copy {
	  padding: 1em 0.5em;
	}
	.service-grid h5 {
	  font-size: 1.6em;
	}
	span.menu {
	  background-size: 80%;
	  margin-top: 0.5em;
	}
	.wht-head {
	  background-color: #fff;
	  padding: 0.3em 1em;
	}
}